/*body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: Teal;
}

.Graph {
    margin: 20px 40px;
    padding-top: 20px;
    border: 2px solid black;
    display: flex;
    font-size: 24px;
    background-color: white;
}

.GraphColumn {
    flex: 1;
    text-align: center;
}

.GraphColumn__bar-container {
    height: 300px;
    position: relative;
}

.GraphColumn__bar {
    margin: 0 25%;
    width: 50%;
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    padding-top: 5px;
    box-shadow: 2px 2px 4px silver;
    text-shadow: 0 0 6px white;
    font-size: 30px;
}

.GraphColumn__label {
    padding: 5px 0 10px;
}

.Buttons {
    margin: 20px 40px;
    padding: 20px;
    border: 2px solid black;
    font-size: 24px;
    background-color: white;
    text-align: center;
}

.Buttons h3 {
    margin-top: 0;
}

.Buttons button {
    font-size: 30px;
    margin: 0 24px;
}*/
.Card {
  border: 1px solid lightblue;
  margin: 30px 80px;
  padding: 30px;
  font-size: 150%;
  text-align: center;
}
.ButtonHolder {
  text-align: center;
  background-color: black;
}
.PrevButton {
  padding: 10px;
  margin: 10px;
  background-color: lightblue;
  color: black;
}
.NextButton {
  padding: 10px;
  margin-right: 10px;
  background-color: lightblue;
  color: black;
}
.FlipButton {
  padding: 10px;
  margin-right: 10px;
  background-color: lightblue;
  color: black;
}
.ShuffleButton {
  padding: 10px;
  margin-right: 10px;
  background-color: lightblue;
  color: black;
}
.App {
  background-color: gray;
  border: white solid 20px;
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
}
.Card {
  background-color: white;
}
.Title {
  text-align: center;
}
